<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Phone.Controls" version="1.6.1" targetFramework="wp71" />
  <package id="MSPToolkit" version="1.7.26.1" targetFramework="sl40-wp71" />
  <package id="SilverlightToolkitWP" version="4.2011.12.14" targetFramework="sl40-wp71" />
</packages>